@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  /* cores claras */
  --foreground: #000000;
  --background-start: #FFFFFF;
  --background-end: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* cores escuras */
    --foreground: #FFFFFF;
    --background-start: #000000;
    --background-end: #000000;
  }
}

body {
  color: var(--foreground);
  /* primeiro plano: degradê transparente→fundo; segundo plano: cor sólida de base */
  background: 
    linear-gradient(to bottom, transparent, var(--background-end)),
    var(--background-start);
}
